@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

:root {
    --background: #db7f43;
    --foreground: #ffffff;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

body {
    background-color: #DB7F43;
    background-image: url('/bg_web.png');
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    color: var(--foreground);
    font-family: Arial, sans-serif;
}